header {
    text-align: center;
    font-weight: bold;
    padding: 0.2rem;
    color: #594248;   
}

input[type="text"] {
    background-color: #f7eff1;
    font-family: sans-serif;
    font-weight: bold;
    color: #37353E;
    border: 2px solid;
}

input.correct {
    background-color: #f1f8e9;
    border: 2px solid #33691e;
}

.hiragana.correct {
    background-color: #a3bf9f;
    border: 2px solid #556b2f;
    transition: background-color 0.3s ease;
}

input.incorrect {
    background-color: #ffebee;
    border: 2px solid #e57373;
}

.hiragana.incorrect {
    background-color: #e6a39d;
    border: 2px solid #dd6a6a; 
    transition: background-color 0.3s ease;
}

body {
    background: #8c7b7d;
    font-family: sans-serif;
    padding: 0.5rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2d2627;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.conteiner {
    background: #e2ced1;
    padding: 0.8rem;
    border-radius: 0.8rem;
    border: 2px solid #d9c4c9;
}

.hiragana {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    margin-bottom: 0.6rem;
    padding: 0.5rem;
    border: 2px solid;
    border-radius: 1px;
    border-color: #435663;
}

.hiragana:focus-within {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    transition: 0.2s;
    border-color: #594248;
}

.kana {
    font-size: 1.5rem;
    font-weight: bold;
    width: 25px;
}

#score {
    position: fixed;
    top: 1.4rem;
    left: 1.4rem;
    padding: 0.4rem 0.6rem;
    background-color: #ffb7b2; 
    color: #880e4f;            
    font-weight: bold;
    border: 2px solid #e57373;
}

#main-kana, #dakuten-kana {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

#next, #reset {
    padding: 0.5rem 1rem;
    background-color: #ffb7b2; 
    color: #880e4f;            
    font-weight: bold;
    border: 2px solid #e57373;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.2s ease;
}

#next:hover, #reset:hover {
    background-color: #f59c9c;
    border-color: #594248;
    transform: scale(1.05);
}
